<h2>My Characters</h2>
<ul class="characters">
  <li *ngFor="let character of characters">
    <a routerLink="/detail/{{character.id}}">
       <span class="badge">{{character.id}}</span> {{character.name}}
    </a>
  </li>
</ul>

<!-- <app-character-detail [character]="selectedCharacter"></app-character-detail> -->


<!-- <h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul> -->